<div class="container mt-3">
  <h4>Modifier Profil Admin</h4>

  <div *ngIf="loading$ | async" class="alert alert-info mt-3">
    Enregistrement...
  </div>

  <div *ngIf="(error$ | async) as err" class="alert alert-danger mt-3">
    {{ err }}
  </div>

  <form class="card mt-3" [formGroup]="form" (ngSubmit)="save()">
    <div class="card-body">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" formControlName="email" />
        <div class="text-danger mt-1" *ngIf="form.controls.email.touched && form.controls.email.invalid">
          Email invalide
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input class="form-control" formControlName="nom" />
      </div>

      <div class="mb-3">
        <label class="form-label">Prénom</label>
        <input class="form-control" formControlName="prenom" />
      </div>

      <button class="btn btn-success" type="submit">Enregistrer</button>
      <button class="btn btn-secondary ms-2" type="button" (click)="cancel()">Annuler</button>
    </div>
  </form>
</div>
